body {
  background-image: url("imagens/videira.png");
  background-repeat: no-repeat;
  margin-top: 10%;
}
img {
  border: 4px solid #38761d;
  margin-right: 35%;
  margin-top: 5%;
  margin-bottom: 10%;
}
p {
  font-family: "Arial";
  text-align: center;
}

table {
    border-collapse: collapse;
    width:50%;
    height: auto;
    margin-left:5%;
    margin-right:45%;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
